#dslc-content .dslc-bg-video .mejs-container {
	top: auto !important;
	bottom: -4px !important;
}
/******************** GENERAL *****************/
h2,h3 {
	font-family: "Anton" !important;
    font-style: normal !important;
	color: #d63b31 !important; /*<-------------------------------Color */
	margin: 0 !important;
}
h2 {
	font-size:48px!important;
	line-height: 54px!important;
}
@media (max-width: 1024px) {
h2 {
    font-size: 36px !important;
    line-height: 42px !important;
}
}
@media (max-width: 768px) {
h2 {
    font-size: 30px !important;
    line-height: 36px !important;
}
}
@media (max-width: 680px) {
h2 {
    font-size: 24px !important;
    line-height: 30px !important;
}
}
h3 {
	font-size:36px!important;
	line-height: 42px!important;
}
@media (max-width: 1024px) {
h3 {
    font-size: 30px !important;
    line-height: 36px !important;
}
}
@media (max-width: 768px) {
h3 {
    font-size: 24px !important;
    line-height: 32px !important;
}
}
@media (max-width: 680px) {
h3 {
    font-size: 20px !important;
    line-height: 26px !important;
}
}
h4 {
	font-family: "Anton" !important;
    font-style: normal !important;
}
input, select, textarea {
	padding: 10px;
	border-radius:2px;
	border:1px solid #c3c6cd;
	margin-bottom: 20px;
}
label {
	text-transform: uppercase !important;
	font-family: "Oswald" !important;
	font-size: 18px;
	line-height: 18px;
}
input[type=submit],
.dslc-button a {
	background-color: #d63b31 !important;
	border-radius: 30px !important;
	padding: 15px  !important;
	display: inline-block !important;
	color: #ffffff !important;
	font-size: 15px !important;
	font-style: normal !important;
	font-weight: 400 !important;
	font-family: "Open Sans" !important;
	border: 0 !important;
}
@media (max-width: 680px) {
input[type=submit],
.dslc-button a {
	border-radius: 30px !important;
	padding: 10px 12px !important;
	font-size: 13px !important;
}
}
input[type=submit]:hover,
.dslc-button a:hover {
	cursor: pointer !important;
	background-color: #cb0000 !important;
}
.dslc-button a.twitch-btn {
	background-color: #6c2498 !important;
}
.dslc-button a.twitch-btn:hover {
	background-color: #570887 !important;
}
.dslc-button a.discord-btn {
	background-color: #7289da !important;
}
.dslc-button a.discord-btn:hover {
	background-color: #4b65c2 !important;
}

/******************** SOCIAL *****************/
ul.dslc-social a.dslc-social-icon {
	border: 2px solid #eee !important;
    background: none !important;
	color: #eee !important;
}
ul.dslc-social a.dslc-social-icon:hover {
    background: #a0a0a0 !important;
	color: #fff !important;
}
ul.dslc-social a.dslc-social-icon .dslc-icon {
	color: #a0a0a0 !important;
    fill: #a0a0a0 !important;
}
ul.dslc-social a.dslc-social-icon:hover .dslc-icon {
	color: #fff !important; 
	fill: #fff !important; 
}

/******************** HEAD *****************/
#head {
	background: linear-gradient(to right, #0c101f 0%, #0c101f 50%, #d63e30 75%) !important;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 5000;
}
@media (max-width: 1024px) {
#head {
	background: #0c101f !important;
}
}
@media (max-width: 680px) {
#head {
	padding-bottom: 3px !important;
}
}
@media (max-width: 768px) {
#head .dslc-col {
	margin-bottom: 0 !important;
}
}
#head .dslc-modules-section-wrapper .dslc-modules-area.dslc-col:first-of-type {
	float: left;
	width: auto;
	padding-top:18px;
}
@media (max-width: 1024px) {
#head .dslc-modules-section-wrapper .dslc-modules-area.dslc-col:first-of-type {
	padding-top:5px;
}
}
#head .dslc-modules-section-wrapper .dslc-modules-area.dslc-col:nth-of-type(2) {
	float: left;
	width: auto;
	padding-top: 33px;
	padding-left: 25px;
}
@media (max-width: 1024px) {
#head .dslc-modules-section-wrapper .dslc-modules-area.dslc-col:nth-of-type(2) {
	float: left;
	width: auto;
	padding-top: 8px;
	padding-left: 10px;
}
}
@media (max-width: 480px) {
#head .dslc-modules-section-wrapper .dslc-modules-area.dslc-col:nth-of-type(2) {
	display: none !important;
}
}
#dslc-content #head .dslc-image img {
	display: block;
	height: 60px;
	width: auto;
	vertical-align: top;
}

#head .dslc-modules-section-wrapper .dslc-modules-area.dslc-col:nth-of-type(3) {
	float: right;
	width: 60%;
	background: #d63e30;
}
@media (max-width: 1280px) {
#head .dslc-modules-section-wrapper .dslc-modules-area.dslc-col:nth-of-type(3) {
	width: 50%;
}
}
@media (max-width: 1024px) {
#head .dslc-modules-section-wrapper .dslc-modules-area.dslc-col:nth-of-type(3) {
	float: none;
	width: 100%;
	clear: both !important;
}
}
/******************** HEAD SOCIAL *****************/
@media (max-width: 1024px) {
#head ul.dslc-social {
    text-align: center !important;
    margin-top: 10px !important;
	margin-bottom: 10px !important;
}
}
#dslc-content ul.dslc-social li {
	overflow: visible !important;
}
#head ul.dslc-social a.dslc-social-icon {
	border: 2px solid #fff !important;
    background: none !important;
	color: #fff !important;
}
#head ul.dslc-social a.dslc-social-icon:hover {
    background: #fff !important;
	color: #d63b31 !important; /*<-------------------------------Color */
}
#head ul.dslc-social a.dslc-social-icon .dslc-icon {
	color: #fff !important;
    fill: #fff !important;
}
#head ul.dslc-social a.dslc-social-icon:hover .dslc-icon {
	color: #d63b31 !important; /*<-------------------------------Color */
	fill: #d63b31 !important; /*<-------------------------------Color */
}
/******************** MAIN MENU *****************/
#dslc-content .mega-menu-wrap {
	background: none !important;
}
#mega-menu-wrap-dslc_main_menu #mega-menu-dslc_main_menu {
	text-align: right !important;
}
@media (max-width: 1024px) {
#mega-menu-wrap-dslc_main_menu #mega-menu-dslc_main_menu {
	background: #fff;
	text-align: left !important;
}
}
.mega-menu-wrap .mega-menu-horizontal > li.mega-menu-item > a.mega-menu-link {
	color: #fff !important;
	font-size: 14px !important;
	line-height: 96px !important;
	font-weight:700 !important; 
	letter-spacing: 1px !important;
	text-transform: uppercase !important;
	font-family: "Oswald" !important;
	padding: 0 10px !important;
	height: auto !important;
}
@media (max-width: 1280px) {
.mega-menu-wrap .mega-menu-horizontal > li.mega-menu-item > a.mega-menu-link {
	font-size: 14px !important;
	padding: 0 5px !important;
}
}
@media (max-width: 1024px) {
.mega-menu-wrap .mega-menu-horizontal > li.mega-menu-item > a.mega-menu-link {
	line-height: 50px !important;
	border-right:1px solid #eeeeee !important;
	padding: 0 12px !important;
}
}
@media (max-width: 680px) {
.mega-menu-wrap .mega-menu-horizontal > li.mega-menu-item > a.mega-menu-link {
	line-height: 50px !important;
	border-bottom: 1px solid #363a42 !important;
}
}
.mega-menu-wrap .mega-menu-horizontal > li.mega-menu-item:hover,
.mega-menu-wrap .mega-menu-horizontal > li.mega-menu-item:hover > a.mega-menu-link,
.mega-menu-wrap .mega-menu-horizontal > li.mega-menu-item > a.mega-menu-link:hover,
.mega-menu-wrap .mega-menu-horizontal > li.mega-menu-item.mega-current-menu-item.mega-menu-item-type-custom > a.mega-menu-link:hover,
.mega-menu-wrap .mega-menu-horizontal > li.mega-menu-item.mega-current-menu-item > a.mega-menu-link:hover {
	color: #0c101f !important; /*<-------------------------------Color */
	background: none !important;
}
.mega-menu-wrap .mega-menu-horizontal > li.mega-menu-item.mega-current-menu-item.mega-menu-item-type-custom > a.mega-menu-link,
.mega-menu-wrap .mega-menu-horizontal > li.mega-menu-item.mega-current-menu-item > a.mega-menu-link {
	color: #fff !important;
	background: none !important;
}
/******************** MAIN MENU MOBILE *****************/
#mega-menu-wrap-dslc_main_menu .mega-menu-toggle {
	background:#fff !important;
}
#mega-menu-wrap-dslc_main_menu .mega-menu-toggle .mega-toggle-block-1:after {
	color: #d63b31 !important; /*<-------------------------------Color */
}
@media (max-width: 680px) {
#mega-menu-wrap-dslc_main_menu .mega-menu-toggle.mega-menu-open + #mega-menu-dslc_main_menu {	
	background: none !important;
	border: 0 !important;
}
#mega-menu-wrap-dslc_main_menu #mega-menu-dslc_main_menu > li.mega-menu-item > a.mega-menu-link {
	border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
	border-right: 0 !important;
	line-height: 35px !important;
	color: #fff !important;
}
}
/******************** HEADER ROW *****************/
#header-row {
	height: 650px;
	text-align: center !important;
}
@media (max-width: 768px) {
#header-row {
	height: auto !important;
	padding-top: 125px !important;
	padding-bottom: 125px !important;
}
}
@media (max-width: 768px) {
#header-row .dslc-col {
	margin-bottom: 0 !important;
}
}
#header-row h1,
#header-row h2,
#header-row h3 {
	text-align: center  !important;
}
#header-row h1,
#header-row h2 {
	color: #fff !important;
	margin: 0 0 10px !important;
	font-size:72px !important;
	font-weight: 700 !important;
	line-height: 72px !important;
	letter-spacing: 1px !important;
}
@media (max-width: 1024px) {
#header-row h1,
#header-row h2 {
	font-size:60px !important;
	line-height: 60px !important;
	margin: 0 !important;
}
}
@media (max-width: 680px) {
#header-row h1,
#header-row h2 {
	font-size:48px !important;
	line-height: 48px !important;
}
}
#header-row h3 {
	color: #fff !important;
	margin: 165px 0 10px !important;
	font-size:24px !important;
	line-height: 30px !important;
	letter-spacing: 1px !important;
}
@media (max-width: 768px) {
#header-row h3 {
	margin: 0 0 10px !important;
	font-size:18px !important;
	line-height:24px !important;
}
}
#header-row .dslc-button {
	margin-top: 30px !important;
}
@media (max-width: 680px) {
#header-row .dslc-button {
	margin-top: 15px !important;
}
}

/******************** CONTENT *****************/
.dslc-modules-section-wrapper {
	max-width: 1200px !important;
	width: 100% !important;
}
#dslc-theme-content,
#dslc-main {
	margin-top: 96px !important;
}
/******************** ABOUT ROW *****************/
#about {
	padding-top: 100px!important;
	padding-bottom: 100px!important;
}
@media (max-width: 1024px) {
#about {
	padding-top: 75px!important;
	padding-bottom: 75px!important;
}
}
@media (max-width: 680px) {
#about {
	padding-top: 50px!important;
	padding-bottom:50px!important;
}
}
#about .dslc-button {
	margin-top: 15px !important;
}
/******************** GAMES ROW *****************/
#games {
	padding-top: 50px!important;
	padding-bottom: 50px!important;	
}
#games .dslc-image {
	width: 175px !important;
	height: 175px !important;
	margin: 0 auto !important;
	overflow: hidden !important;
	border-radius:100%;
	border: 3px solid #fff !important;
}
#games h4 {
	color: #fff !important;
	text-align: center !important;
	margin: 0 !important;
}
/******************** STREAM ROW *****************/
#stream {
	padding-top: 100px!important;
	padding-bottom: 100px!important;
}
@media (max-width: 1024px) {
#stream {
	padding-top: 75px!important;
	padding-bottom: 75px!important;
}
}
@media (max-width: 680px) {
#stream {
	padding-top: 50px!important;
	padding-bottom:50px!important;
}
}
#stream h2 {
	margin: 0 0 40px !important;
	color: #fff !important;
	text-shadow: 0 0 10px rgba(0,0,0, 0.4);
}
#stream iframe {
	width: 100% !important;
	height: 675px !important;
	border: 5px solid #fff !important;
	border-radius:8px !important;
	margin: 0 0 25px !important;
}
@media (max-width: 1024px) {
#stream iframe {
	height: 575px !important;
}
}
@media (max-width: 768px) {
#stream iframe {
	height: 475px !important;
}
}
@media (max-width: 680px) {
#stream iframe {
	height: 300px !important;
}
}
/******************** SCHEDULE ROW *****************/
#schedule {
	padding-top: 100px !important;
	padding-bottom: 100px !important;
}
@media (max-width: 1024px) {
#schedule {
	padding-top: 75px!important;
	padding-bottom: 75px!important;
}
}
@media (max-width: 680px) {
#schedule {
	padding-top: 50px!important;
	padding-bottom:50px!important;
}
}
#schedule h2 {
	margin: 0 0 40px !important;
}
#schedule .dslc-modules-area {
	background:#988f7e;
	padding:30px;
	margin-bottom:30px;
	text-align:center;
	color: #fff !important;
	border-radius:4px;
}
#schedule .dslc-modules-area.dslc-12-col {
	padding: 0 !important;
	margin-bottom: 0 !important;
}
#schedule .dslc-modules-area:nth-of-type(odd) {
	background:#d63b31 !important; /*<-------------------------------Color */
}
#schedule .dslc-modules-area.dslc-12-col:nth-of-type(odd) {
	background:none !important; /*<-------------------------------Color */
}
#schedule .dslc-modules-area .dslc-micon-module {
	display:inline-block !important;
}
@media (max-width: 680px) {
.schedule-title .dslc-text-module-content {
	min-height: auto !important;
}
}
#schedule .schedule-date .dslc-text-module-content {
	font-weight:300 !important;
	text-transform: uppercase !important;
	font-size:12px !important;
	letter-spacing: 5px !important;
}
#schedule .schedule-time .dslc-text-module-content {
	font-weight:700 !important;
	font-size:16px !important;
}
#schedule .schedule-title .dslc-text-module-content {
	margin-top: 10px !important;
}
/******************** GAMES ROW *****************/
#discord {
	padding-top: 75px!important;
	padding-bottom: 75px!important;
	background: radial-gradient(closest-side at 50% 50%, #7289da, #0f1113) !important;
}
@media (max-width: 680px) {
#discord {
	padding-top: 50px!important;
	padding-bottom:50px!important;
}
}
#discord h2 {
	margin: 0 0 40px !important;
	color: #7289da !important;
}
#discord iframe {
	margin: 0 0 25px !important;
	width: 100% !important;
}
/******************** GAMES ROW *****************/
#social {
	padding-top: 50px!important;
	padding-bottom: 50px!important;
}

#social .dslc-modules-area {
	border: 1px solid #fff !important;
	border-radius:4px !important;
	text-align: center !important;
	padding: 15px !important;
}
#social .dslc-modules-area:hover {
	background: #fff !important;
	color: #d63e30 !important;
}
#social h4 {
	margin: 0 !important;
	color: #fff !important;
	text-align: center !important;
}
#social p {
	margin: 0 !important;
	color: #fff !important;
	text-align: center !important;
}
#social .dslc-micon-module {
	text-align: center !important;
}
#social .dslc-icon  {
    color: #fff !important;
    fill: #fff !important;
	text-align: center !important;
}
#social .dslc-modules-area:hover h4,
#social .dslc-modules-area:hover p,
#social .dslc-modules-area:hover .dslc-icon {
	color: #d63e30 !important;
	fill: #d63e30 !important;
}
/******************** PARTNERS ROW *****************/
#partners {
	background: #fff !important;
	padding-top: 40px!important;
	padding-bottom: 40px!important;
}
/******************** CONTACT PAGE *****************/
#dslc-content #dslc-main .dslc-social li {
	display: block !important;
	margin-bottom: 10px !important;
	width: 100% !important;
	overflow: hidden !important;
}
.wpcf7-form input,
.wpcf7-form textarea,
.wpcf7-form select {
	display: block;
	width: 100%;
}
.wpcf7-form input[type=submit] {
	display: inline-block;
	width: auto;
}

/******************** FOOTER *****************/
#dslc-footer .dslc-modules-section {
	background-color: #0e0d11 !important;
	padding-top: 50px !important;
	padding-bottom: 50px !important;
}
#dslc-footer .dslc-image img {
	max-width: 300px !important;
	height: auto !important;
	width: auto !important;
	max-height: 150px !important;
	margin: 0 0 25px !important;
}
